@import "./variables.scss";


// @font-face {
//     font-family: 'Interrobot';
//     font-style: normal;
//     font-weight: 400;
//     src: url("#{$static-root-directory}/fonts/interrobot.ttf") format("truetype");
// }

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    src: url("#{$static-root-directory}/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 400;
    src: url("#{$static-root-directory}/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    font-style: normal;
    font-weight: 400;
    src: url("#{$static-root-directory}/fonts/Montserrat-Medium-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url("#{$static-root-directory}/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat SemiBold Italic';
    font-style: italic;
    font-weight: 600;
    src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBold-Italic"), url("#{$static-root-directory}/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
}


/*
@font-face {
    font-family: 'Montserrat Italic';
    font-style: italic;
    font-weight: 400;
    src: local("Montserrat Italic"), url("#{$static-root-directory}/fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Light"), url("#{$static-root-directory}/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat Light Italic';
    font-style: italic;
    font-weight: 400;
    src: local("Montserrat Light Italic"), local("Montserrat-Italic"), url("#{$static-root-directory}/fonts/Montserrat-LightItalic.woff2") format("woff2");
}
*/

